{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions",
            "IE 11",
            "not dead"
          ]
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}